<div class="main-top-bar-selection">
    <div>
        <img src="/images/chart-scatter-plot.svg" width="24px" height="auto">
        <span>Plot</span>
    </div>
    <div>
        <img src="/images/camera-wireless.svg" width="24px" height="auto">
        <span>Camera</span>
    </div>
    <div>
        <img src="/images/image-filter-hdr.svg" width="24px" height="auto">
        <span>Environment</span>
    </div>
    <div>
        <img src="/images/earth-box.svg" width="24px" height="auto">
        <span>Map</span>
    </div>
    <div>
        <img src="/images/car.svg" width="24px" height="auto">
        <span>Drive Base</span>
    </div>
    <div>
        <img src="/images/console-line.svg" width="24px" height="auto">
        <span>Telemetry</span>
    </div>
</div>