<div class="main-top-bar-selection">
    <div>
        <img src="/images/chart-scatter-plot.svg" width="24px" height="auto">
        Plot
    </div>
    <div>
        <img src="/images/camera-wireless.svg" width="24px" height="auto">
        Camera
    </div>
    <div>
        <img src="/images/image-filter-hdr.svg" width="24px" height="auto">
        Environment
    </div>
    <div>
        <img src="/images/earth-box.svg" width="24px" height="auto">
        Map
    </div>
    <div>
        <img src="/images/car.svg" width="24px" height="auto">
        Drive Base
    </div>
</div>