<div class="view">
    <div class="side">
        <div class="side-size-adjuster">
        </div>
        <div class="sideitem-container">
            <view-sideitem title="LoremIpsumItem">
                <view-sideitem title="LoremIpsumItem2">
                    <view-sideitem title="LoremIpsumItem3"></view-sideitem>
                </view-sideitem>
                <view-sideitem title="LoremIpsumItem4"></view-sideitem>
                <view-sideitem title="LoremIpsumItem2">
                    <view-sideitem title="LoremIpsumItem3"></view-sideitem>
                </view-sideitem>
            </view-sideitem>
            <view-sideitem title="LoremIpsumItem">
                <view-sideitem title="LoremIpsumItem2"></view-sideitem>
            </view-sideitem>
            <view-sideitem title="LoremIpsumItem" /></view-sideitem>
        </div>
    </div>
    <div class="main">
        <div>
            <div class="main-top-bar">
                <div class="main-title">
                    <span class="main-title-text">Lorem ipsum dolor sit amet 182359</span> <span>—</span> <span class="main-title-source">consectetur</span>
                </div>
                <div class="main-options">
                    <img src="/images/play.svg" width="24px" height="auto">
                    <div></div>
                    <img src="/images/batteries/battery-alert.svg" width="24px" height="auto">
                    <img src="/images/plus.svg" width="24px" height="auto">
                </div>
            </div>
            <div class="main-top-bar" style="width: 100%;">
                <view-top-bar></view-top-bar>
            </div>
        </div>
        <variables-view></variables-view>

    </div>
</div>