
.panel {
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    margin-right: 10px;
    margin-bottom: 10px;
}

.panel > c-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}